@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <p>Mã Sinh Viên: 2310900114</p>
    <p>Họ Và Tên: Nguyễn Minh Tuấn</p>
    <p>Lớp: K23CNT2</p>
    <p>SĐT: *****</p>
    <p>Email: *****</p>
</div>