@model Lab11_LastLession.Models.NmitEmployee

@{
    ViewData["Title"] = "NmitCreate";
}

<h1>Thêm Mới Nhân Viên</h1>

<h4>NmitEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NmitCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NmitEmpId" class="control-label"></label>
                <input asp-for="NmitEmpId" class="form-control" />
                <span asp-validation-for="NmitEmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmitEmpName" class="control-label"></label>
                <input asp-for="NmitEmpName" class="form-control" />
                <span asp-validation-for="NmitEmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmitEmpLevel" class="control-label"></label>
                <input asp-for="NmitEmpLevel" class="form-control" />
                <span asp-validation-for="NmitEmpLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmitEmpStartDate" class="control-label"></label>
                <input asp-for="NmitEmpStartDate" class="form-control" />
                <span asp-validation-for="NmitEmpStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NmitEmpStatus" class="control-label"></label>
                <input asp-for="NmitEmpStatus" class="form-control" />
                <span asp-validation-for="NmitEmpStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NmitIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
