@{
    ViewData["Title"] = "Home Page";
}
<center>
    <div class="align-items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn3MB19ydttoeN8Fdqqrki5QlDtOevZDeizA&s" alt="Can't load photo'" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn3MB19ydttoeN8Fdqqrki5QlDtOevZDeizA&s" alt="Can't load photo'" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn3MB19ydttoeN8Fdqqrki5QlDtOevZDeizA&s" alt="Can't load photo'" />
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn3MB19ydttoeN8Fdqqrki5QlDtOevZDeizA&s" alt="Can't load photo'" />
    </div>
</center>
<div class="text-center">
    <h1 class="display-4">Welcome NMIT ASP.NET CORE</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
