@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-info">
    <p>Họ và tên: Nguyễn Minh Tuấn</p>
    <p>Mã Sinh Viên: 2310900114</p>
    <p>Lớp: K23CNT2</p>
</div>
