@{
    ViewData["Title"] = "DProduct View";
}
<center>
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">Product View</h1>
            <div>
                <div class="a">
                    <img width="185" src="https://www.tncstore.vn/media/product/8900-rog-strix-geforce-rtx-4070-12gb-gddr6x-oc-edition-1.jpg" alt="Can't load photo" />
                    <img width="200" src="https://product.hstatic.net/1000333506/product/rog-strix-z790-f-gaming-wifi-04_f5ad7165ab9c488585e2f172035a4f3c_fa6487fd8fe54c039840231c211d992c_1024x1024.png" alt="Can't load photo" />
                    <img width="200" src="https://www.duchuymobile.com/images/detailed/58/asus-rog-phone-7-chinh-hang-duchuymobile.jpg" alt="Can't load photo" />
                    <img width="200" src="https://lapvip.vn/upload/products/thumb_800x0/asus-rog-flow-z13-2024-1735549411.jpg" alt="Can't load photo" />
                    <img width="283" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQukTkdcfUSzNWpl7KIPY2Uq-fEy313w8Lj_g&s" alt="Can't load photo" />
                </div>
            </div>
            <p><a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a></p>
        </div>
    </div>
</center>